<section class="bg-gray-900 text-gray-200 min-h-screen flex flex-col items-center justify-center space-y-10">
  <h1 class="text-center text-2xl font-bold">Sobre Mim</h1>

  <div class="max-w-5xl mx-auto flex items-center justify-center p-6 space-x-10 border border-gray-700 rounded-xl">
    
    <div class="flex items-center justify-center">
      <img 
        [src]="profileImageUrl" 
        alt="Foto de perfil de Gabriel Mendonça" 
        class="w-48 h-48 flex-none rounded-full border-4 border-gray-600"
        data-aos="fade-up"
      />
    </div>
    <p class="text-base leading-relaxed text-sm">
      Oi! Eu sou Gabriel Andrade, desenvolvedor fullstack apaixonado por tecnologia.
      No meu tempo livre, gosto de brincar com meu HOMELAB Linux com Ubuntu Server, testando e implementando soluções com Docker que otimizam meu dia a dia, utilizando ferramentas como 
      <a target="_blank" class="link" [href]="referencesLinks['nextcloud']">Nextcloud</a>,
      <a target="_blank" class="link" [href]="referencesLinks['jellyfin']">Jellyfin</a>,
      <a target="_blank" class="link" [href]="referencesLinks['pdfding']">Pdfding</a>,
      <a target="_blank" class="link" [href]="referencesLinks['immich']">Immich</a>.
      Estou sempre em busca de evolução técnica, atualização constante e novos desafios que ampliem minhas habilidades como desenvolvedor.
      Atualmente, estou focado em alcançar fluência em inglês e expandir meu stack com novas tecnologias, como C# e .NET.
      <br><br>
      Minha filosofia de vida é baseada no conceito <b>“chokunin katagui” (職人かたぎ)</b> - o espírito de artesão - descrito no livro 
      <a target="_blank" class="link" [href]="referencesLinks['O Livro dos Cinco Anéis']">O Livro dos Cinco Anéis</a>, de Miyamoto Musashi, que representa disciplina, excelência técnica e compromisso com a qualidade.
      Essa visão se conecta a princípios como: <br>
      
      <span class="border-y-2 border-gray-700 py-2 my-4 block">
        <b>Kaizen:</b> melhoria contínua, <br>
        <b>Ganbaru:</b> esforço constante e perseverança, <br>
        <b>Kodawari:</b> atenção extrema aos detalhes, <br>
        <b>Shokunin Katagi:</b> orgulho, ética e responsabilidade pelo que se constrói. <br>
      </span>


      Levo esses valores para o desenvolvimento de software, buscando sempre criar soluções bem estruturadas, confiáveis e de alto nível técnico, enquanto sigo em constante evolução, estudando, lendo e aprendendo novas tecnologias.
    </p>

     

  </div>
</section>
