<section class="bg-gray-950 text-gray-200 min-h-screen flex flex-col 
items-center justify-center space-y-10 pt-24 py-10">
  <div>
    <h1 
      class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-extrabold bg-clip-text  text-gray-300 mb-4 animate-pulse-slow"
      data-aos="fade-up"
    >
    GABRIEL ANDRADE
  </h1>
    <h2 class="text-center text-2xl">Desenvolvedor Full Stack</h2>
  </div>

  <div class="mx-auto max-w-4xl text-lg">
    <p>
      Atuo desde {{ initMouth }} de {{ initYear }} no desenvolvimento de sistemas e aplicações fullstack, com participação ativa em todo o 
      <b class="text-blue-300">ciclo de vida do software</b>, desde o levantamento e análise de requisitos, 
      modelagem e estruturação de dados, definição de arquitetura e desenvolvimento de soluções, até integração de 
      sistemas, testes, deploy, operação em produção, documentação e evolução contínua das aplicações, atuando também 
      em <b class="text-blue-300">ambientes ágeis</b> com práticas de <b class="text-blue-300">Scrum e Kanban</b>.
    </p>

    <p class="mt-4">
      Tenho vivência prática com <b class="text-blue-300">Node.js e TypeScript</b> no backend, utilizando 
      tecnologias como <b class="text-blue-300">Express, Fastify e NestJS</b>, além do desenvolvimento de interfaces 
      modernas no frontend com <b class="text-blue-300">React, Next.js, Angular e TailwindCSS</b>.  
      Atuo na integração de sistemas por meio de <b class="text-blue-300">APIs, WebSocket, Webhooks e protocolos industriais como Modbus e MQTT</b>, 
      trabalhando com bancos de dados relacionais e não relacionais como 
      <b class="text-blue-300">SQL Server, MySQL, PostgreSQL, Redis e MongoDB</b>.  
      Possuo experiência sólida com <b class="text-blue-300">servidores Linux</b>, configuração de ambientes, 
      gerenciamento de processos, automação de serviços e servidores web como <b class="text-blue-300">Nginx</b>, 
      além do uso de containers <b class="text-blue-300">Docker</b> para padronização de ambientes, isolamento de 
      serviços, deploy e escalabilidade.
    </p>

    <p class="mt-4">
      Atuei em projetos nos setores de <b class="text-blue-300">varejo</b>, 
      <b class="text-blue-300">telecomunicações</b> e em uma 
      <b class="text-blue-300">multinacional da indústria de manufatura</b>, lidando com sistemas corporativos, 
      integrações complexas, alta disponibilidade e aplicações críticas para o negócio, atuando em ambientes de alta 
      responsabilidade técnica e impacto operacional.
    </p>
  </div>


  <div class="flex items-center gap-4">
    
    <!-- GITHUB -->
    <a [href]="githubUrl" target="_blank" class="group relative flex items-center gap-2 px-6 py-2 rounded-sm 
      border border-gray-600 text-gray-200 overflow-hidden 
      transition-all duration-300 hover:border-indigo-400">

      <i class="bi bi-github text-white text-lg relative z-10"></i>
      <span class="relative z-10">GITHUB</span>

      <span class="absolute inset-0 bg-linear-to-r from-indigo-500/20 via-purple-500/20 to-pink-500/20 
        opacity-0 group-hover:opacity-100 transition-opacity duration-300"></span>
    </a>

    <!-- LINKEDIN -->
    <a [href]="linkedinUrl" target="_blank" class="group relative flex items-center gap-2 px-6 py-2 rounded-sm 
      border border-gray-600 text-gray-200 overflow-hidden 
      transition-all duration-300 hover:border-pink-400">

      <i class="bi bi-linkedin text-white text-lg relative z-10"></i>
      <span class="relative z-10">LINKEDIN</span>

      <span class="absolute inset-0 bg-linear-to-r from-pink-500/20 via-purple-500/20 to-indigo-500/20 
        opacity-0 group-hover:opacity-100 transition-opacity duration-300"></span>
    </a>

  </div>
</section>
