<header class="fixed top-0 left-0 w-full z-50">
  <div class="relative flex items-center justify-between px-6 py-4 text-gray-200 
  bg-gradient-to-l from-gray-900 to-gray-950">

    <!-- Gradient border bottom -->
    <div class="absolute bottom-0 left-0 h-[2px] w-full 
    bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"></div>

    <h1 class="font-bold tracking-wider text-lg">
      GABRIEL ANDRADE
    </h1>

    <nav class="flex gap-6 text-sm font-medium">
      <a class="hover:text-indigo-500 transition-colors duration-200" href="#">Início</a>
      <a class="hover:text-indigo-500 transition-colors duration-200" href="#">Sobre</a>
      <a class="hover:text-indigo-500 transition-colors duration-200" href="#">Habilidades</a>
      <a class="hover:text-indigo-500 transition-colors duration-200" href="#">Projetos</a>
      <a class="hover:text-indigo-500 transition-colors duration-200" href="#">Contato</a>
    </nav>
  </div>
</header>
