<section class="  p-5 lg:py-16"  id="contato ">
    <div class="">
        
        <div class="md:p-10 pt-10 md:m-0 mb-10   m-auto block ">
            <div class="max-w-4xl m-auto my-10">
                
                <h2 data-aos="fade-right" class="impact font-black md:text-8xl text-4xl text-5x1 text-c1">
                    OBRIGADO <br />
                    POR CHEGAR ATE AQUI!
                </h2>
                <p data-aos="fade-left" class="text-right md:text-2xl text-xl font-semibold md:pr-12">
                    Para contratar qualquer serviço basta entrar em contato comigo pelas
                    redes sociais abaixo ou pelo whatsapp!
                </p>
            </div>
        </div>
        
        
        <p class="text-center text-xl font-semibold md:mb-0 mb-10">
            Te vejo em breve!
        </p>
        
        <!-- CONTATOS -->

        <div class="my-16">

            <h2 class="minecraft text-c1 text-2xl lg:text-4xl text-center">CONTATO</h2>
            <div data-aos="fade-up" class="flex m-auto md:w-60 w-full justify-center mt-5 space-x-5">
                <button onclick="copyToClipboard(`github.com/MendoncaGabriel`, 'Link copiado!')">
                    <img src="icons/icons8-github-100.png" alt="icone github"
                    class="w-9 scale duration-200 cursor-pointer m-auto" />
                </button>
                
                <button onclick="copyToClipboard('mendonçagabriel97', 'Perfil linkedin copiado!')">
                    <img src="icons/icons8-linkedin-100.png" alt="icone linkedin"
                    class="w-9 scale duration-200 cursor-pointer m-auto" />
                </button>
                
                <button onclick="copyToClipboard('mendoncagabriel1997@gmail.com', 'E-mail copiado!')">
                    <img src="icons/icons8-gmail-100.png" alt="icone gmail"
                    class="w-9 scale duration-200 cursor-pointer m-auto" />
                </button>
                
                <button onclick="copyToClipboard('92995238016', 'Telefone copiado!')">
                <img src="icons/icons8-telefone-100.png" alt="icone telefone"
                class="w-9 scale duration-200 cursor-pointer m-auto" />
                </button>
                
                <button onclick="copyToClipboard('92995238016', 'Whatsapp copiado!')">
                    <img src="icons/icons8-whatsapp-100.png" alt="icone whatsapp"
                    class="w-9 scale duration-200 cursor-pointer m-auto" />
                </button>
            </div>
            <p class="text-center">Clique nos icones para copiar o contato</p>
        </div>
        
    </div>
</section>