<section class="overflow-x-hidden p-5" id="habilidades">
    <div class="ancora mt-16">
        <h2 class="minecraft text-c1 text-2xl lg:text-4xl text-center">MINHAS HABILIDADES TÉCNICAS:</h2>

        <div class="md:p-10 grid grid-cols-2 items-center md:justify-start justify-center pl-3 md:pl-0">
            <div data-aos="fade-right" class="m-auto flex items-center justify-start p-2 scale duration-200 md:w-1/2 w-full">
                <img src="icons/icons8-html-5-100.png" alt="icone html5" class="w-10" />
                <p class="font-medium text-xl md:text-3xl">HTML 5</p>
            </div>
            <div data-aos="fade-left" class="m-auto flex items-center justify-start p-2 scale duration-200 md:w-1/2 w-full">
                <img src="icons/icons8-reagir-100.png" alt="icone html5" class="w-10" />
                <p class="font-medium text-xl md:text-3xl">REACT</p>
            </div>
            <div data-aos="fade-right" class="m-auto flex items-center justify-start p-2 scale duration-200 md:w-1/2 w-full">
                <img src="icons/icons8-css-100.png" alt="icone html5" class="w-10 pl-0" />
                <p class="font-medium text-xl md:text-3xl">CSS 3</p>
            </div>
            <div data-aos="fade-left" class="m-auto flex items-center justify-start p-2 scale duration-200 md:w-1/2 w-full">
                <img src="icons/icons8-tailwindcss-100.png" alt="icone html5" class="w-9 mr-1" />
                <p class="font-medium text-xl md:text-3xl">TAILWIND</p>
            </div>
            <div data-aos="fade-right" class="m-auto flex items-center justify-start p-2 scale duration-200 md:w-1/2 w-full">
                <img src="icons/icons8-javascript-100.png" alt="icone html5" class="w-10" />
                <p class="font-medium text-xl md:text-3xl">JAVASCRIPT</p>
            </div>
            <div data-aos="fade-left" class="m-auto flex items-center justify-start p-2 scale duration-200 md:w-1/2 w-full">
                <img src="icons/icons8-firebase-100.png" alt="icone html5" class="w-10" />
                <p class="font-medium text-xl md:text-3xl">FIREBASE</p>
            </div>
            <div data-aos="fade-right" class="m-auto flex items-center justify-start p-2 scale duration-200 md:w-1/2 w-full">
                <img src="icons/icons8-configurações-de-api-100.png" alt="icone html5" class="w-10" />
                <p class="font-medium text-xl md:text-3xl">API REST</p>
            </div>
            <div data-aos="fade-left" class="m-auto flex items-center justify-start p-2 scale duration-200 md:w-1/2 w-full">
                <img src="icons/icons8-bootstrap-100.png" alt="icone html5" class="w-10" />
                <p class="font-medium text-xl md:text-3xl">Bootstrap</p>
            </div>
            <div data-aos="fade-left" class="m-auto flex items-center justify-start p-2 scale duration-200 md:w-1/2 w-full">
                <img src="icons/icons8-nextjs-96.png" alt="icone html5" class="w-10" />
                <p class="font-medium text-xl md:text-3xl">Next</p>
            </div>
            <div data-aos="fade-left" class="m-auto flex items-center justify-start p-2 scale duration-200 md:w-1/2 w-full">
                <img src="icons/icons8-expresso-js-100.png" alt="icone html5" class="w-10" />
                <p class="font-medium text-xl md:text-3xl">Express</p>
            </div>
            <div data-aos="fade-left" class="m-auto flex items-center justify-start p-2 scale duration-200 md:w-1/2 w-full">
                <img src="icons/icons8-não-96.png" alt="icone html5" class="w-10" />
                <p class="font-medium text-xl md:text-3xl">EJS</p>
            </div>
            <div data-aos="fade-left" class="m-auto flex items-center justify-start p-2 scale duration-200 md:w-1/2 w-full">
                <img src="icons/icons8-corel-draw-100.png" alt="icone html5" class="w-10" />
                <p class="font-medium text-xl md:text-3xl">CORELDRAW</p>
            </div>
            <div data-aos="fade-left" class="m-auto flex items-center justify-start p-2 scale duration-200 md:w-1/2 w-full">
                <img src="icons/icons8-figma-50.png" alt="icone html5" class="w-10" />
                <p class="font-medium text-xl md:text-3xl">Figma</p>
            </div>

        </div>


        <img src="img/homem-que-trabalha-com-a-visao-traseira-do-programador-de-desenvolvimento-de-software-de-script_81894-7230.png"
            class="md:hidden w-72 m-auto h-auto mt-2" alt="imagem ilustrativa" />
        </div>
</section>