<section class="overflow-x-hidden w-full h-full bg-c1 fixed hidden z-50" id="menuMobile">
    <div class="flex justify-end pr-15 p-5">
        <button onclick="menu()"
            class="border-white border-2 text-white minecraft text-4xl rounded-full w-10 h-10 bg-center bg-no-repeat"
            style="
        background-position-x: 40%;
        background-size: 45%;
        background-image: url('icons/voltar.png');
      "></button>
    </div>
    <nav class="text-white minecraft gap-3 text-2xl space-y-5 mt-10 md:hidden grid grid-cols-1 text-center w-full">
        <a onclick="menu()" href="#home" class="hover:text-c4">HOME</a>
        <a onclick="menu()" href="#sobre" class="hover:text-c4">SOBRE</a>
        <a onclick="menu()" href="#habilidades" class="hover:text-c4">HABILIDADES</a>
        <a onclick="menu()" href="#projetos" class="hover:text-c4">PROJETOS</a>
        <a onclick="menu()" href="#contato" class="hover:text-c4">CONTATO</a>
    </nav>
</section>