<section class="overflow-x-hidden bg-c1 flex items-center md:justify-between justify-around p-3 lg:px-20 lg:py-4 fixed top-0 w-full z-10 ">
    <h1 class="text-white minecraft text-2xl">GABRIEL ANDRADE</h1>
    <span onclick="menu()" class="w-10 h-10 bg-center bg-cover md:hidden"
        style="background-image: url('icons/icons8-cardápio-100.png')"></span>

    <nav class="text-white minecraft gap-3 text-lg hidden md:flex">
        <a href="#home" class="hover:text-c4"  >HOME</a>
        <a href="#sobre" class="hover:text-c4" >SOBRE</a>
        <a href="#habilidades" class="hover:text-c4" >HABILIDADES</a>
        <a href="#projetos" class="hover:text-c4" >PROJETOS</a>
        <a href="#contato" class="hover:text-c4" >CONTATO</a>
    </nav>
</section>