<section class="overflow-x-hidden p-5" id="projetos">
    <div class="ancora mt-16">
        <h2 class="minecraft text-c1 text-2xl lg:text-4xl text-center">PROJETOS</h2>

        <div class="grid md:grid-cols-4 grid-cols-1 p-10 space-y-5 md:scale-y-0">
            <!-- Projeto -->
            <div data-aos="fade-right" class="w-60 scale duration-200 m-auto">
                <div class="mb-3 flex">
                    <img src="icons/html.png" alt="icone html" class="w-10 h-10" />
                    <img src="icons/icons8-css-48.png" alt="icone html" class="w-10 h-10" />
                    <img src="icons/icons8-js-48.png" alt="icone html" class="w-10 h-10" />
                    <img src="icons/icons8-tailwindcss-100.png" alt="icone html" class="w-10 h-10" />
                </div>
                <div class="bg-c1 w-56 h-72 rounded-lg relative">
                    <div class="bg-white w-56 h-72 rounded-lg border-black border-2 absolute -top-2 -right-2 p-2">
                        <div class="">
                            <img src="img/p1.webp" alt="imagem do projeto"
                                class="border-2 border-black object-cover w-full h-auto" />
                            <h2 class="text-xl font-bold text-c1 mt-2">
                                Pagina de capitura de leeds E-Book
                            </h2>
                        </div>
                        <div class="flex items-center justify-around h-auto absolute bottom-5 w-52">
                            <!-- ver projeto -->
                            <div class="border-black border-2 bg-white w-32 h-9 scale duration-200 relative">
                                <a href="https://mendoncagabriel.github.io/Meus-Projetos/PaginaCaputuraEbook/"
                                    target="_blank"
                                    class="bg-c1 hover:text-c4 border-black border-2 text-white w-32 h-9 absolute -top-2 -right-2 minecraft items-center flex justify-center"
                                    aria-label="ver pagina do projeto">VER PROJETO</a>
                            </div>

                            <!-- github -->
                            <a href="https://github.com/MendoncaGabriel/Meus-Projetos/tree/main/PaginaCaputuraEbook"
                                target="_blank" aria-label="Ver código do projeto no github">
                                <img src="icons/icons8-github-100.png" alt="" class="w-10 scale"
                                    title="ver código do projeto" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Projeto -->
            <div data-aos="fade-right" class="w-60 scale duration-200 m-auto">
                <div class="mb-3 flex">
                    <img src="icons/html.png" alt="icone html" class="w-10 h-10" />
                    <img src="icons/icons8-css-48.png" alt="icone html" class="w-10 h-10" />
                    <img src="icons/icons8-js-48.png" alt="icone html" class="w-10 h-10" />
                    <img src="icons/icons8-nodejs-48.png" alt="icone html" class="w-10 h-10" />
                    <img src="icons/puppeteer.png" alt="icone html" class="w-10 h-10" />
                </div>
                <div class="bg-c1 w-56 h-72 rounded-lg relative">
                    <div class="bg-white w-56 h-72 rounded-lg border-black border-2 absolute -top-2 -right-2 p-2">
                        <div class="">
                            <img src="img/p2.webp" alt="imagem do projeto"
                                class="border-2 border-black object-cover w-full h-auto" />
                            <h2 class="text-xl font-bold text-c1 mt-2">
                                Pagina de vagas online automatica
                            </h2>
                        </div>
                        <div class="flex items-center justify-around h-auto absolute bottom-5 w-52">
                            <!-- ver projeto -->
                            <div class="border-black border-2 bg-white w-32 h-9 scale duration-200 relative">
                                <a href="https://mendoncagabriel.github.io/Meus-Projetos/Auto-Vagas/"
                                    target="_blank"
                                    class="bg-c1 hover:text-c4 border-black border-2 text-white w-32 h-9 absolute -top-2 -right-2 minecraft items-center flex justify-center"
                                    aria-label="ver pagina do projeto">VER PROJETO</a>
                            </div>

                            <!-- github  -->
                            <a href="https://github.com/MendoncaGabriel/Meus-Projetos/tree/main/Auto-Vagas"
                                target="_blank" aria-label="Ver código do projeto no github">
                                <img src="icons/icons8-github-100.png" alt="" class="w-10 scale"
                                    title="ver codigo do projeto" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Projeto -->
            <div data-aos="fade-left" class="w-60 scale duration-200 m-auto">
                <div class="mb-3 flex">
                    <img src="icons/html.png" alt="icone html" class="w-10 h-10" />
                    <img src="icons/icons8-css-48.png" alt="icone html" class="w-10 h-10" />
                    <img src="icons/icons8-js-48.png" alt="icone html" class="w-10 h-10" />
                    <img src="icons/icons8-tailwindcss-100.png" alt="icone html" class="w-10 h-10" />
                </div>
                <div class="bg-c1 w-56 h-72 rounded-lg relative">
                    <div class="bg-white w-56 h-72 rounded-lg border-black border-2 absolute -top-2 -right-2 p-2">
                        <div class="">
                            <img src="img/p3.webp" alt="imagem do projeto"
                                class="border-2 border-black object-cover w-full h-auto" />
                            <h2 class="text-xl font-bold text-c1 mt-2">
                                Site de download de jogos
                            </h2>
                        </div>

                        <div class="flex items-center justify-around h-auto absolute bottom-5 w-52">
                            <!-- ver projeto -->
                            <div class="border-black border-2 bg-white w-32 h-9 scale duration-200 relative">
                                <a href="https://mendoncagabriel.github.io/CapitaoTorrent/" target="_blank"
                                    class="bg-c1 hover:text-c4 border-black border-2 text-white w-32 h-9 absolute -top-2 -right-2 minecraft items-center flex justify-center"
                                    aria-label="ver pagina do projeto">VER PROJETO</a>
                            </div>

                            <!-- github -->
                            <a href="https://github.com/MendoncaGabriel/CapitaoTorrent" target="_blank"
                                aria-label="Ver código do projeto no github">
                                <img src="icons/icons8-github-100.png" alt="" class="w-10 scale"
                                    title="ver codigo do projeto" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Projeto -->
            <div data-aos="fade-left" class="w-60 scale duration-200 m-auto">
                <div class="mb-3 flex">
                    <img src="icons/html.png" alt="icone html" class="w-10 h-10" />
                    <img src="icons/icons8-css-48.png" alt="icone html" class="w-10 h-10" />
                    <img src="icons/icons8-js-48.png" alt="icone html" class="w-10 h-10" />
                </div>
                <div class="bg-c1 w-56 h-72 rounded-lg relative">
                    <div class="bg-white w-56 h-72 rounded-lg border-black border-2 absolute -top-2 -right-2 p-2">
                        <div class="">
                            <img src="img/p4.webp" alt="imagem do projeto"
                                class="border-2 border-black object-cover w-full h-auto" />
                            <h2 class="text-xl font-bold text-c1 mt-2">
                                Site institucional. [em construção]
                            </h2>
                        </div>
                        <div class="flex items-center justify-around h-auto absolute bottom-5 w-52">
                            <!-- ver projeto -->
                            <div class="border-black border-2 bg-white w-32 h-9 scale duration-200 relative">
                                <a href="https://mendoncagabriel.github.io/Meus-Projetos/Site-Institucional/"
                                    target="_blank"
                                    class="bg-c1 hover:text-c4 border-black border-2 text-white w-32 h-9 absolute -top-2 -right-2 minecraft items-center flex justify-center"
                                    aria-label="ver pagina do projeto">VER PROJETO</a>
                            </div>

                            <!-- github -->
                            <a href="https://github.com/MendoncaGabriel/Meus-Projetos/tree/main/Site-Institucional"
                                target="_blank" 
                                aria-label="Ver código do projeto no github">
                                <img src="icons/icons8-github-100.png" alt="" class="w-10 scale"
                                    title="ver codigo do projeto" 
                                    
                                    />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>